<ion-view title="Accueil" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="accueil-heading1" style="color:#000000;text-align:center;" class=" ">ILLICONSTAT</h1>
        <div class="spacer" style="width: 283px; height: 78px;"></div>
        <a ui-sref="constatIdentit" id="accueil-button2" class=" button button-positive  button-block ">Créer un constat</a>
        <div class="spacer" style="width: 283px; height: 70px;"></div>
        <a ui-sref="mesConstats" id="accueil-button1" class=" button button-positive  button-block ">Mes constats</a>
    </ion-content>
</ion-view>