<ion-view title="Afficher Constat" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <h4>N° Constat MX350V</h4>
        </div>
        <div>
            <h2>Vehicule 1</h2>
            <p>bla bla bla</p>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div>
            <h2>Vehicule 2</h2>
            <p>bla bla bla</p>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div class="list card " id="afficherConstat-card210">
            <ion-item class="item-icon-left item-icon-right  " id="afficherConstat-list-item29">
                <i class="icon ion-android-arrow-up"></i>Face
                <i class="icon ion-android-add"></i>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div class="list card " id="afficherConstat-card211">
            <ion-item class="item-icon-left item-icon-right  " id="afficherConstat-list-item30">
                <i class="icon ion-android-arrow-down"></i>Arriere
                <i class="icon ion-android-add"></i>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div class="list card " id="afficherConstat-card212">
            <ion-item class="item-icon-left item-icon-right  " id="afficherConstat-list-item31">
                <i class="icon ion-android-arrow-back"></i>Gauche
                <i class="icon ion-android-add"></i>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div class="list card " id="afficherConstat-card213">
            <ion-item class="item-icon-left item-icon-right  " id="afficherConstat-list-item32">
                <i class="icon ion-android-arrow-forward"></i>Droite
                <i class="icon ion-android-add"></i>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
    </ion-content>
</ion-view>