<ion-view title="Constat - Identité" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="constatIdentit-button-bar1" class=" button-bar ">
            <button id="constatIdentit-button3" class=" button button-balanced  button-block ">1</button>
            <button id="constatIdentit-button6" class=" button button-positive  button-block ">2</button>
            <button id="constatIdentit-button5" class=" button button-positive  button-block ">3</button>
            <button id="constatIdentit-button4" class=" button button-positive  button-block ">4</button>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div class="list card " id="constatIdentit-card22">
            <ion-item class="item-icon-left item-icon-right  " id="constatIdentit-list-item3">
                <i class="icon ion-ios-paper"></i>Permis
                <i class="icon ion-android-add"></i>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div class="list card " id="constatIdentit-card23">
            <ion-item class="item-icon-left item-icon-right  " id="constatIdentit-list-item5">
                <i class="icon ion-ios-bookmarks"></i>Carte grise
                <i class="icon ion-android-add"></i>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div class="list card " id="constatIdentit-card24">
            <ion-item class="item-icon-left item-icon-right  " id="constatIdentit-list-item7">
                <i class="icon ion-ios-barcode"></i>Assurance
                <i class="icon ion-android-add"></i>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div>
            <h3>Assureur</h3>
        </div>
        <form id="constatIdentit-form1" class="list ">
            <label class="item item-select " id="constatIdentit-select1">
                <span class="input-label">Select</span>
                <select></select>
            </label>
            <div class="spacer" style="width: 283px; height: 28px;"></div>
            <a ui-sref="pV" id="constatIdentit-button7" style="border-radius:20px 20px 20px 20px;" class=" button button-positive  button-block button-outline icon-right ion-android-arrow-forward ">Suivant</a>
        </form>
        <div class="spacer" style="width: 283px; height: 28px;"></div>
    </ion-content>
</ion-view>