<ion-view title="Envoie" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="envoie-button-bar5" class=" button-bar ">
            <button id="envoie-button22" class=" button button-positive  button-block ">1</button>
            <button id="envoie-button23" class=" button button-positive  button-block ">2</button>
            <button id="envoie-button24" class=" button button-positive  button-block ">3</button>
            <button id="envoie-button25" class=" button button-balanced  button-block ">4</button>
        </div>
        <div class="spacer" style="width: 283px; height: 41px;"></div>
        <form id="envoie-form4" class="list ">
            <label class="item item-input " id="envoie-input2">
                <span class="input-label">conducteur 1</span>
                <input type="tel" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 283px; height: 41px;"></div>
        <form id="envoie-form5" class="list ">
            <label class="item item-input " id="envoie-input3">
                <span class="input-label">conducteur 1</span>
                <input type="tel" placeholder="">
            </label>
            <div class="spacer" style="width: 283px; height: 41px;"></div>
        </form>
        <button id="envoie-button26" class=" button button-positive  button-block button-outline icon-right ion-android-send ">Envoyer</button>
    </ion-content>
</ion-view>