<ion-view title="Mes Constats" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="mesConstats-form6" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <ion-list id="mesConstats-list5" class=" ">
            <ion-item class="item-icon-left  " id="mesConstats-list-item23" ui-sref="afficherConstat">
                <i class="icon ion-ionic"></i>Constat 1</ion-item>
            <ion-item class="item-icon-left  " id="mesConstats-list-item24">
                <i class="icon ion-ionic"></i>Constat 2</ion-item>
            <ion-item class="item-icon-left  " id="mesConstats-list-item25">
                <i class="icon ion-ionic"></i>Constat 3</ion-item>
            <ion-item class="item-icon-left  " id="mesConstats-list-item26">
                <i class="icon ion-ionic"></i>Constat 4</ion-item>
            <ion-item class="item-icon-left  " id="mesConstats-list-item27">
                <i class="icon ion-ionic"></i>Constat 5</ion-item>
        </ion-list>
    </ion-content>
</ion-view>