<ion-view title="PV" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="pV-button-bar3" class=" button-bar ">
            <button id="pV-button16" class=" button button-positive  button-block ">1</button>
            <button id="pV-button13" class=" button button-balanced  button-block ">2</button>
            <button id="pV-button14" class=" button button-positive  button-block ">3</button>
            <button id="pV-button15" class=" button button-positive  button-block ">4</button>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div>
            <h4>N° Constat MX350V</h4>
        </div>
        <a ui-sref="recapitulatif" id="pV-button27" style="border-radius:20px 20px 20px 20px;" class=" button button-positive  button-block button-outline icon-right ion-android-arrow-forward ">Suivant</a>
    </ion-content>
</ion-view>