<ion-view title="Recapitulatif" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="recapitulatif-button-bar4" class=" button-bar ">
            <button id="recapitulatif-button17" class=" button button-positive  button-block ">1</button>
            <button id="recapitulatif-button18" class=" button button-positive  button-block ">2</button>
            <button id="recapitulatif-button19" class=" button button-balanced  button-block ">3</button>
            <button id="recapitulatif-button20" class=" button button-positive  button-block ">4</button>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div>
            <h4>N° Constat MX350V</h4>
        </div>
        <div class="list card " id="recapitulatif-card25">
            <ion-item class="item-icon-left item-icon-right  " id="recapitulatif-list-item10">
                <i class="icon ion-android-arrow-up"></i>Face
                <i class="icon ion-android-add"></i>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div class="list card " id="recapitulatif-card26">
            <ion-item class="item-icon-left item-icon-right  " id="recapitulatif-list-item12">
                <i class="icon ion-android-arrow-down"></i>Arriere
                <i class="icon ion-android-add"></i>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div class="list card " id="recapitulatif-card27">
            <ion-item class="item-icon-left item-icon-right  " id="recapitulatif-list-item14">
                <i class="icon ion-android-arrow-back"></i>Gauche
                <i class="icon ion-android-add"></i>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div class="list card " id="recapitulatif-card28">
            <ion-item class="item-icon-left item-icon-right  " id="recapitulatif-list-item16">
                <i class="icon ion-android-arrow-forward"></i>Droite
                <i class="icon ion-android-add"></i>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <a ui-sref="envoie" id="recapitulatif-button21" style="border-radius:20px 20px 20px 20px;" class=" button button-positive  button-block button-outline icon-right ion-android-arrow-forward ">Suivant</a>
    </ion-content>
</ion-view>