# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Node
node_modules/
platforms/
plugins/
npm-debug.log

# Generated
www/styles
www/assets/js/[app,vendor]*.js
www/assets/css/*.css
www/vendor/browserify-bundle.js

# Intellij Idea
.idea
.iml
.editorconfig
feat/pv_questions_service